# Ignore local DuckDB database files
*.db
*.duckdb

# Ignore python and environment configs
.env
__pycache__/
*.pyc

# dbt artifacts
dbt_transformation/target/
dbt_transformation/dbt_packages/
dbt_transformation/logs/